.ourteam {
  padding: 114px 0;
}
.ourteam-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.94rem;
}
.ourteam-item {
  max-width: 270px;
}
.ourteam-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 270px;
  max-height: 270px;
  position: relative;
}
.ourteam-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}