@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import "null.css";
@import "fe17-font.css";
html {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1rem;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.875rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 900;
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
}

h6 {
  font-size: 0.8125rem;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
}

.gotop {
  position: fixed;
  bottom: 5%;
  right: 3%;
  cursor: pointer;
  display: none;
  z-index: 1;
}
.gotop i {
  color: #ff4343;
  font-size: 3rem;
  border-radius: 50%;
}
.gotop i:hover, .gotop i:focus {
  color: #e71414;
}
.gotop i:active {
  color: #ff4343;
  -webkit-box-shadow: 1px 1px 30px #ff4343;
          box-shadow: 1px 1px 30px #ff4343;
}

.btn_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn_link:hover {
  background: #e71414;
}
.btn_link:active {
  background: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}
.btn_link {
  padding: 1.5rem 5.5rem;
  background: #ff4343;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.fe-facebook:hover {
  color: #445c8f;
}

.fe-twetter:hover {
  color: #18a1d6;
}

.fe-linkedin:hover {
  color: #1d7199;
}

@media (max-width: 1024px) {
  .container {
    max-width: 97%;
  }
}
@media (max-width: 428px) {
  .btn {
    width: 100%;
  }
  .btn:hover {
    display: none;
  }
  .btn:active {
    background: #ff4343;
    -webkit-box-shadow: 4px 4px 30px #ff4343;
            box-shadow: 4px 4px 30px #ff4343;
  }
  .btn_link {
    -webkit-box-shadow: 1px 1px 5px #ff4343;
            box-shadow: 1px 1px 5px #ff4343;
  }
}
.header {
  width: 100%;
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 999;
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #babbc5;
}

.header-logo a {
  font-weight: 900;
  font-size: 1.625rem;
  text-transform: uppercase;
  color: #656980;
}
.header-logo a::after {
  content: "box";
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__item {
  margin-right: 3rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header-menu__item a {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header-menu__item a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.header-menu__item a:hover::after, .header-menu__item a:focus::after {
  opacity: 1;
}
.header-menu__item a::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.header-menu__item a:hover::after, .header-menu__item a:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-menu__item a:active {
  color: #e71414;
}
.header-menu__item a:active::after {
  background-color: #e71414;
}
.header-menu__item:last-child {
  margin-right: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu i {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.mobile-menu i:active {
  color: #e71414;
}

@media (max-width: 1024px) {
  html {
    font-size: 0.75rem;
  }

  .header {
    padding: 20px 0;
  }
  .header-wrapper {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
  }
  .header-wrapper {
    border: none;
  }
  .header-logo {
    margin: 0 15px;
  }
  .header-menu {
    display: none;
  }

  .mobile-menu {
    margin: 0 15px;
    display: block;
  }
}
@media (max-width: 428px) {
  html {
    font-size: 0.5625rem;
  }

  .header {
    padding: 10px 0;
  }
}
.fullscreen {
  background-image: url(../img/fullscreen-bg.png);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 200px 0 0;
}
.fullscreen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 73, 0.8);
}
.fullscreen-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fullscreen-title {
  text-transform: uppercase;
  color: #ffffff;
  line-height: 4.6rem;
  text-align: center;
  margin-bottom: 31px;
  padding: 0 3.5rem;
}
.fullscreen-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 82px;
  padding: 0 3.5rem;
}

@media (max-width: 1024px) {
  .fullscreen {
    padding: 170px 0;
  }
  .fullscreen .container {
    max-width: 97%;
  }
  .fullscreen-title {
    padding: 0 2rem;
  }
  .fullscreen-subtitle {
    padding: 0 4rem;
  }
}
@media (max-width: 768px) {
  .fullscreen {
    padding: 170px 0;
  }
  .fullscreen-title {
    padding: 0;
  }
  .fullscreen-subtitle {
    padding: 0 5rem;
  }
}
@media (max-width: 320px) {
  .fullscreen {
    padding: 130px 0;
  }
  .fullscreen-subtitle {
    padding: 0;
  }

  .btn {
    width: 100%;
  }
  .btn:hover {
    display: none;
  }
  .btn:active {
    background: #ff4343;
    -webkit-box-shadow: 4px 4px 30px #ff4343;
            box-shadow: 4px 4px 30px #ff4343;
  }
  .btn_link {
    -webkit-box-shadow: 1px 1px 5px #ff4343;
            box-shadow: 1px 1px 5px #ff4343;
  }
}
.features {
  padding: 100px 0 0;
}
.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -0.94rem;
}
.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
  margin: 0 15px 100px;
  padding: 0 5px;
}
.features-item__title {
  text-transform: uppercase;
  text-align: center;
  line-height: 28px;
  margin-bottom: 20px;
}
.features-item__subtitle {
  text-align: center;
  color: #6c7279;
  line-height: 21px;
}
.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 40px;
  width: 100px;
  height: 100px;
}
.features-icon i {
  font-family: icomoon !important;
  font-size: 4rem;
  color: #ff4343;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 1024px) {
  .features {
    padding: 80px 0 0;
  }
  .features-item {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .features {
    padding: 60px 0 0;
  }
  .features-item {
    margin-bottom: 60px;
  }
  .features-item__title {
    margin-bottom: 10px;
  }
  .features-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }
}
@media (max-width: 428px) {
  .features {
    padding: 40px 0 0;
  }
  .features-item {
    margin-bottom: 40px;
  }
  .features-item__title {
    margin-bottom: 5px;
  }
  .features-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }
}
.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2px;
}
.work > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.work > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.work > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.work > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.work > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.work > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.work > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.work > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90% 90% 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.work-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  left: 100%;
}
.work-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.work-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.work-title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  right: 100%;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.work-subtitle {
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  position: relative;
  right: 100%;
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.work-item:hover::after, .work-item:focus::after {
  left: 0;
  opacity: 1;
}
.work-item:active::after {
  background-color: rgba(185, 12, 12, 0.8);
}
.work-item:hover > .work-text {
  opacity: 1;
}
.work-text:hover > .work-title, .work-text:focus > .work-title, .work-text:hover > .work-subtitle, .work-text:focus > .work-subtitle {
  right: 0;
}

@media (max-width: 1024px) {
  .work-title {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .work {
    -ms-grid-columns: 1fr 2px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 2px 1fr 2px 1fr 2px 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .work > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .work > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .work > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .work > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .work > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .work > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .work > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .work > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
}
@media (max-width: 428px) {
  .work-item:active > .work-text {
    opacity: 1;
  }

  .work-text:active > .work-title,
.work-text:hover > .work-subtitle {
    right: 0;
  }
}
.ourteam {
  padding: 114px 0;
}
.ourteam-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.ourteam-item {
  max-width: 260px;
  margin: 0 15px;
}
.ourteam-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90% 90% 0;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.ourteam-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.ourteam-personal__info {
  text-align: left;
  margin-bottom: 18px;
}
.ourteam-personal__name {
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
  line-height: 1.75rem;
  margin-bottom: 5px;
}
.ourteam-personal__function {
  text-transform: uppercase;
  line-height: 1.31rem;
  color: #ff4343;
}
.ourteam-description {
  text-align: left;
  line-height: 1.31rem;
  color: #6c7279;
  margin-bottom: 38px;
}
.ourteam-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.ourteam-social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 5px;
}
.ourteam-social__wrapper:last-child {
  margin-right: 0;
}
.ourteam-social__wrapper i {
  font-family: icomoon !important;
  font-size: 1.125rem;
  color: #c6cbcd;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ourteam-dots {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 150px;
  margin: 0 80px;
}
.ourteam-dots__item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #7e5d6f;
  margin: 0 5px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .ourteam {
    padding: 80px 0;
  }
  .ourteam-item {
    max-width: 250px;
    margin-bottom: 50px;
  }
  .ourteam-item:nth-child(4) {
    display: none;
  }
  .ourteam-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ourteam-dots__item:first-child {
    background-color: #7e5d6f;
  }
}
@media (max-width: 768px) {
  .ourteam {
    padding: 60px 0;
  }
  .ourteam-item {
    max-width: 230px;
    margin-bottom: 55px;
  }
  .ourteam-item:nth-child(1), .ourteam-item:nth-child(4) {
    display: none;
  }
  .ourteam-dots__item:first-child {
    background-color: transparent;
  }
  .ourteam-dots__item:nth-child(2) {
    background-color: #7e5d6f;
  }
}
@media (max-width: 428px) {
  .ourteam-item {
    max-width: 280px;
    margin-bottom: 60px;
  }
  .ourteam-item:nth-child(1), .ourteam-item:nth-child(2), .ourteam-item:nth-child(4) {
    display: none;
  }
  .ourteam-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ourteam-dots__item:nth-child(2) {
    background-color: transparent;
  }
  .ourteam-dots__item:nth-child(3) {
    background-color: #7e5d6f;
  }
}
.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 490px;
}
.slider-item__left {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-item__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.slider-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 10%;
  width: 50%;
  height: 100%;
  background-color: #5c3249;
}
.slider-item__title {
  font-family: Cardo, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
}
.slider-item__subtitle {
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
}
.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0 0;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 12.5px;
}
.slider .slick-dots li.slick-active button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #7e5d6f;
  cursor: pointer;
}
.slider .slick-dots button {
  font-size: 0;
  background-color: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #7e5d6f;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 1024px) {
  .slider-item {
    height: 330px;
  }
  .slider .slick-dots button {
    width: 10px;
    height: 10px;
  }
  .slider .slick-dots li.slick-active button {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 768px) {
  .slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 700px;
  }
  .slider-item__left {
    width: 100%;
  }
  .slider-item__right {
    width: 100%;
  }
}
@media (max-width: 428px) {
  .slider-item {
    height: 500px;
  }
  .slider-item__left {
    width: 100%;
  }
  .slider-item__right {
    width: 100%;
  }
}
.download {
  padding: 114px 0;
}
.download-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.download-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  line-height: 2.1875rem;
  color: #000000;
  margin: 0 15px 10px;
}
.download-subtitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1.3125rem;
  color: #000000;
  margin: 0 15px 50px;
}

@media (max-width: 1024px) {
  .download {
    padding: 78px 0;
  }
}
@media (max-width: 768px) {
  .download-wrapper {
    margin: 0;
  }
}
@media (max-width: 428px) {
  .download {
    padding: 34px 0;
  }
}
.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.footer-top {
  padding: 4% 0;
  background-color: #353c65;
}
.footer-item {
  width: 360px;
  margin: 0 15px;
}
.footer-item__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.3125rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 17px;
}
.footer-item__description {
  font-family: Raleway;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-align: center;
  color: #ffffff;
}
.footer-down {
  padding: 1.5% 36%;
  background-color: #2c3154;
}
.footer-down__description {
  text-align: center;
  color: #808080;
  text-transform: capitalize;
}
.footer-down__description::after {
  content: "by Kamal Chaneman";
  color: #ffffff;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 23px;
  width: 33px;
  height: 33px;
  border: 1px solid #c6cbcd;
}
.footer-social i {
  font-family: icomoon !important;
  font-size: 0.9375rem;
  color: #c6cbcd;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media (max-width: 1024px) {
  .footer-item {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .footer-item {
    margin-bottom: 59px;
  }
  .footer-item:last-child {
    margin-bottom: 0;
  }

  .footer-top {
    padding: 7% 0;
  }

  .footer-down {
    padding: 3% 15%;
  }
}
@media (max-width: 428px) {
  .footer-item {
    margin-bottom: 30px;
  }

  .footer-item__title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .footer-social__wrapper {
    margin: 5px;
  }
}